<div class="menu-item"
  [ngClass]="{'vertical-menu': menuService.isVertical,'active-link': isActiveRoute}"
  (click)="menuService.showingLeftMenu=false" >
  <span class="glyphicon {{ item.icon }}"></span>
  <span>{{ item.text }}</span>

  <span *ngIf="item.subMenu && !menuService.isVertical && !parentIsPopup"
        class="glyphicon glyphicon-menu-down"></span>
  <span *ngIf="item.subMenu && !menuService.isVertical && parentIsPopup"
        class="glyphicon glyphicon-menu-right"></span>
  <span *ngIf="item.subMenu && menuService.isVertical && !(mouseInPopup || mouseInItem)"
        class="glyphicon glyphicon-menu-right"></span>
  <span *ngIf="item.subMenu && menuService.isVertical && (mouseInPopup || mouseInItem)"
        class="glyphicon glyphicon-menu-down"></span>

</div>

<fw-popup-menu *ngIf="mouseInPopup || mouseInItem"
  [menu]="item.subMenu"
  [ngClass]="{'vertical-menu': menuService.isVertical}"
  (mouseenter)="onPopupMouseEnter($event)"
  (mouseleave)="onPopupMouseLeave($event)"
  [style.left.px]="popupLeft"
  [style.top.px]="popupTop"
  >
  <!-- mouse in & out fires on child elements also (viz the spans in the menu-item)
        which would cause conflicting event data -->
</fw-popup-menu>